{
  "env": {
    "es2021": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "plugins": [
    "@typescript-eslint",
    "import",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".ts",
          ".js",
          ".json"
        ]
      },
      "typescript": {}
    },
    "import/extensions": [
      ".js",
      ".ts"
    ]
  },
  "rules": {
    "prettier/prettier": "error",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never"
      }
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    // Выключаем правила для js и включаем соответствующие для ts.
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error"
    ],
    // Выключаем правила для js и включаем соответствующие для ts.
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": [
      "error"
    ],

    "no-restricted-syntax": "off" // Для использования for of
  }
}